@media only screen and (min-width: 38rem) {

    main {
        max-width: var(--main-max-width);
        margin: 0 auto;
    }

    .header-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 0;
    }

    .main-header {
        border-bottom: none;
        margin: 0 auto;
    }

    .main-header img {
        margin-bottom: 18px;
    }

    .hamburger {
        display: none;
    }

    #theme-toggle {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        margin: 1rem auto;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .navigation a {
        padding: 0 0.5rem;
    }

    #theme-toggle-desktop {
        display: block;
        background: var(--primary-color);
        border: none;
        font-size: 2rem;
        cursor: pointer;
        margin-top: -1rem;
        color: black;
    }

    .main-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: left;
        padding: 0.5rem;
        margin: 0 auto;
    }

    .list section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 10px;
        padding: 0.25rem;
    }

    .list p {
        margin: 10px;
        font-size: 14px;
    }

    .list section .founder-name,
    .list section .membership-level {
        display: none;
    }
}