:root {
    --primary-color: #483D8B;
    --secondary-color: #E6E6FA;
    --highlight-color: #98FB98;
    --text-color: #fff;
    --border-color: #dddddd;
    --main-max-width: 900px;
    --primary-font: 'Montserrat', sans-serif;
    --body-font: 'Lato', sans-serif;
    --serif-font: 'PT Serif', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    column-gap: 8px;
    border-bottom: solid 1px #ddd;
    font-family: var(--primary-font);
    margin-bottom: 10px;
}

header span {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    font-family: var(--serif-font);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;
}

h1 {
    font-family: var(--serif-font);
}

/* Hamburger Navigation */

.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: var(--body-font);
    font-size: 1.5em;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    margin-bottom: 10px;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: var(--highlight-color);
}

/* Body */

body {
    font-family: var(--body-font);
}

/* Main */

h1 {
    margin-left: 10px;
    color: var(--primary-color);
}

section {
    margin: 0 10px 0 10px
}

.about-me,
.student-photo {
    background-color: #eee;
}

.about h2 {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0 0 15px 0;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 2px;
}

.about img {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
}

.about p {
    padding: 0 0 10px 20px;
    margin: 1rem 1rem 1rem 0;
}

/* Portfolio */
.portfolio-section {
    margin: 10px;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: #eee;
    padding: 1rem;
}

.portfolio figure {
    padding: 1rem;
    box-shadow: 0 2px 12px #0001;
    background-color: #fff;
}

.portfolio figure img {
    display: block;
    width: 50px;
    height: auto;
    margin: 1rem auto 1rem auto;
}

.portfolio figcaption {
    text-align: center;
    color: var(--primary-color);
}

.portfolio-section h2 {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0 0 0 0;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 2px;
}

.portfolio a {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
}

.portfolio a:hover {
    border: #483D8B solid 1px;
}

/* Certificate Courses */

.certificate-courses {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    column-gap: 8px;
    margin-top: 10px;
}

.certificate-courses h2 {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0 0 15px 0;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 2px;
}

.course-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
}

.courses {
    display: grid;
    grid-template-columns: 1fr;
}

.course {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 0 0 0.5rem 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.completed {
    background-color: var(--highlight-color);
    border-left: 5px solid #2e7d32;
}

.not-completed {
    background-color: #f9f9f9;
    border-left: 5px solid #999;
}

.filter-btn {
    margin: 0 1rem;
    padding: 1rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #555;
}

#total-credits {
    text-align: center;
    margin: 1rem 0;
}

/* Footer */
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
    font-family: var(--primary-font);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    border: #ccc solid 1px;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.social img {
    width: 24px;
    height: 24px;
}

.social a:hover {
    background-color: #ddd;
}

footer p {
    margin: 0.5rem 0;
}

#lastModified {
    color: var(--primary-color);
    font-weight: bold;
}

/* dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
    align-self:center;
} */

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
    z-index: 1000;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog .header {
    display: grid;
    grid-template-columns: auto 44px;
    background-color: #333;
    color: white;
    font-weight: bold;
    margin-bottom: 1rem;
}

dialog .header h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin: 0 auto;

}

dialog h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

dialog p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.5;

}

